{
    "name": "inventory-connector",
    "config": {
        "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
        "database.hostname": "oltp-postgres",
        "database.port": "5432",
        "database.user": "habib",
        "database.password": "habib",
        "database.dbname": "habib",
        "database.server.name": "oltp-postgres",
    }
}